apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "chatbot-service.fullname" . }}
  labels:
    app: {{ include "chatbot-service.name" . }}
    chart: {{ include "chatbot-service.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "chatbot-service.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ include "chatbot-service.name" . }}
        release: {{ .Release.Name }}
      annotations:
{{- range $key, $value := .Values.podAnnotations }}
        {{ $key }}: {{ $value | quote }}
{{- end }}
    spec:
      containers:
        - name: chatbot
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
          env:
{{- range $key, $value := .Values.env }}
            - name: {{ $key }}
              value: {{ $value | quote }}
{{- end }}
          envFrom:
            - secretRef:
                name: {{ .Values.secrets.existingSecret }}
          resources:
{{ toYaml .Values.resources | indent 12 }}
          livenessProbe:
{{ toYaml .Values.livenessProbe | indent 12 }}
          readinessProbe:
{{ toYaml .Values.readinessProbe | indent 12 }}
      nodeSelector:
{{ toYaml .Values.nodeSelector | indent 8 }}
